@charset "utf-8";
/* CSS Document */
.block {
	padding: 14px 0px;
	border-bottom: solid 1px #f0eff5;
}
.block .cot {
	padding-left: 8px
}
.cancel {
	width: 70px;
	height: 30px;
	border-radius: 8px;
	border: solid 1px #aaaaaa;
	text-align: center;
	line-height: 2;
	color: #666666
}
.pdg {
	padding-top: 20px
}
